<!-- vue.jsの勉強で -->

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="app-input">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<div id="app-2">
		<span v-bind:title="message"> Hover your mouse over me for a
			few seconds to see my dynamically bound title! </span>
	</div>
	<div id="app3">
		<p v-if="seen">表示</p>
	</div>
	<div id="app4">
		<ol>
			<li v-for="todo in todos">{{ todo.text }}</li>
		</ol>
	</div>
	<div id="app5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">文字を逆にする</button>
	</div>
	<div id="staggered-list-demo">
		<input v-model="query">
		<transition-group name="staggered-fade" tag="ul" v-bind:css="false"
			v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave">
		<li v-for="(item, index) in computedList" v-bind:key="item.msg"
			v-bind:data-index="index">{{ item.msg }}</li>
		<a href="Newfile.html"></a> </transition-group>
	</div>


	<script src="https://unpkg.com/vue"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
	<script src="js/NewTest.js"></script>

</body>
</html>