th, td {
	border: solid 1px #000000;
	padding: 8px;
}

th {
	text-align: center;
	background-color: #FFFFE0;
}

.title {
	padding: 10px;
	margin-left: 28%;
	font-weight: bold;
	font-size: 25px;
}

table {
	margin-bottom: 60px;
}

#company {
	margin-bottom: 60px;
}

#access {
	margin-bottom: 60px;
}

#company p {
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#access p {
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#access address {
	text-align: center;
}

#map {
	width: 100%;
	height: 400px;
}

@media ( max-width :640px) {
	table {
		margin-bottom: 30px;
	}
	#company {
		margin-bottom: 30px;
	}
	#access {
		margin-bottom: 30px;
	}
	#company p {
		padding: 10px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
	}
	#access p {
		padding: 10px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
	}
	#access address {
		text-align: center;
	}
	#map {
		width: 100%;
		height: 200px;
	}
}