* {
	word-spacing: -2px;
	letter-spacing: 2px;
	font-weight: lighter;
	font-family: 'Playfair Display', '本明朝-Book 新がな', HonMinSink-Book, '游明朝',
		YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝',
		'sans-serif';
}

div, a {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#video iframe {
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.parent{
	 position: relative;
	 width:100%;
	 height:100%;
}
.inner-first {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto margin:0 auto;
	width: 100px;
	height: 70px;
}

#navigation {
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
	z-index: 10;
	border: dashed 1px #f7941d;
}

#navigation li {
	margin: 0 auto;
	list-style : none;
	color: #fff1c9;
	list-style: none;
}

#navigation li a {
	margin: 0 auto;
	font-size: 22px;
	color: #FF7F50;
}

/* 四角バージョンのenter
.enter {
position: absolute;
	top:45%;
	left:45%;
	height : 300px;
	width: 200px;
	border: dashed 2px #f7941d;
	height: 100px;
}
.button{
	font-size: 33px;
	color: #FF7F50;
	text-align: center;
} */

#btn {
    display: table;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
#btn a {
	top:75%;
     position: relative;
    display: table-cell;
    color: #FF7F50;
    /* color: #52d3ff; */ /* 水色 */
    /* font-weight: bold; */
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
#btn a:after {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 80%;
    border: 2px dashed #FF7F50;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transition: scale(0, 0);
}
#btn a:hover:after {
    opacity: 1;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transition: scale(1, 1);
}