@charset "utf-8";

a {
	text-decoration: none;
}
/* wrapper */
#wrapper {
	width: 100%;
	margin: 0 auto;
}

/* body */
body {
	font-size: 9pt;
	line-height: normal;
	letter-spacing: normal;
	color: #382d0b;
	background-color: #eeeadf;
	width: 100%;
	height: 100%;
	position: relative;
}

#header {
	width: 250px;
	border-bottom: 1px solid #ddd;
	position: fixed;
	background-color: #ffffff;
	height: 100%;
	z-index: 1000;
}

.head_cont {
	margin: 0 auto;
	width: 190px;
}

h1 {
	width: 100%;
	margin: 90px 0 60px;
}

h1 a {
	color: #333;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.icon {
	margin: 0 0 30px 0;
	clear: both;
}

.icon a {
	position: relative;
	display: block;
	float: left;
	margin-right: 30px;
}

.icon a.nom {
	margin: 0;
}

.icon span {
	display: none;
	position: absolute;
	top: -10px;
	left: -23px;
	right: 0;
	width: 80px;
	background-color: #725942;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 3px 3px;
}

#nav {
	clear: both;
}

/* globalnavi */
.gnavi {
	margin: 0 0 50px 0;
}

.gnavi li {
	margin-bottom: 15px;
	clear: both;
}

.gnavi li a {
	color: #382d0b;
	text-decoration: none;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.gnavi li:hover a {
	font-weight: bold;
}

.gnavi li span {
	float: right;
}

.news p {
	color: #725942;
	font-weight: bold;
	margin-bottom: 15px;
}

.news a {
	color: #ff6539;
}

.subnavi {
	background-color: #ff6539;
	width: 150px;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0;
	z-index: 30;
}

.subnavi div {
	margin: 50px 20px 0 20px;
}

.subnavi ul li {
	margin-bottom: 15px;
	color: #ffffff;
	position: relative;
	width: 100%;
	z-index: 50;
}

.subnavi ul li span {
	right: 0;
	position: absolute;
	top: 0;
}

.subnavi ul li a {
	color: #ffffff;
	display: block;
	text-decoration: none;
}

.subnavi ul li a:hover {
	text-decoration: underline;
}

.subnavi ul li ul {
	display: none;
	position: absolute;
	left: 0px;
	top: -10px;
	width: 100px;
	background-color: #ff9374;
	padding: 10px 10px 0 10px;
	z-index: 40;
}

/* contents */
#contents {
	margin: 0 0 0 250px;
	padding: 90px 30px 60px;
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.item {
	width: 167px;
	float: left;
	margin: 0 30px 30px 0;
	-webkit-transition: all .3s;
}

.item:hover dt {
	box-shadow: 0 1px 4px #beb8a7;
}

.item a {
	text-decoration: none;
	display: block;
}

.item dt {
	line-height: 0;
	padding: 5px;
	border: 1px solid #d9d5c9;
	background-color: #fff;
	margin-bottom: 10px;
}

.item dd {

}

.item dd .name {
	color: #725942;
	margin-bottom: 5px;
}

.item:hover .name {
	text-decoration: underline;
}

.item dd .price {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
}

.item dd .price span {
	font-size: 10px;
}

/* footer */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 20;
	width: 100%;
	padding: 10px 0;
	background-color: #eeeadf;
}

#footer ul {
	margin-left: 280px;
}

#footer ul li {
	display: inline;
	margin-right: 15px;
}

#footer ul li a {
	color: #382d0b;
	text-decoration: none;
}

.search {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	background-color: #eeeadf;
}

.search p {
	/*margin-left: 280px;*/
	padding: 10px 30px 10px 0;
	text-align: right;
}

.search input[type=text] {
	background-color: #fff;
	border: none;
	padding: 3px 0;
}

.search input[type=submit] {
	background-color: #725942;
	color: #fff;
	border: none;
	padding: 3px 5px;
	cursor: pointer;
}

.copyright {
	width: 100%;
	background-color: #313131;
	padding: 20px 0;
}

.copyright p {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	color: #999;
}

@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-repeat: no-repeat;
}

/*  */
.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.ml20 {
	margin-left: 20px;
}

.nb {
	border: none;
	border: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.left_ {
	float: left;
}

.right_ {
	float: right;
}

.center {
	width: 100%;
	text-align: center;
	clear: both;
	overflow: hidden;
}

.map {
	width: 320px;
	height: 160px;
	border: 0;
	float: left;
}

.map2 {
	width: 680px;
	height: 680px;
	border: 0;
}

.bdr_top {
	border-top: 1px solid #009046;
}

.font10 {
	font-size: 10px;
}

.t_right {
	text-align: right;
}

.font_b {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
}

ul, dl, ol {
	text-indent: 0;
}

li {
	list-style: none;
}

img {
	border: 0;
}

/* N */
a, a:link, a:visited {
	color: #2c86c3;
	/*  text-decoration: underline; */
}

a:hover {
	color: ##EE7E2C;
	text-decoration: underline;
}

a:active {

}

a img {
	border: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pagetop {
	position: fixed;
	bottom: 40px;
	right: 25px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
	max-width: none;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}

.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background: url(images/overlay.png) repeat 0 0;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

#colorbox {
	outline: 0;
}

#cboxTopLeft {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) no-repeat -101px 0;
}

#cboxTopRight {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) no-repeat -130px 0;
}

#cboxBottomLeft {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) no-repeat -101px -29px;
}

#cboxBottomRight {
	width: 21px;
	height: 21px;
	background: url(images/controls.png) no-repeat -130px -29px;
}

#cboxMiddleLeft {
	width: 21px;
	background: url(images/controls.png) left top repeat-y;
}

#cboxMiddleRight {
	width: 21px;
	background: url(images/controls.png) right top repeat-y;
}

#cboxTopCenter {
	height: 21px;
	background: url(images/border.png) 0 0 repeat-x;
}

#cboxBottomCenter {
	height: 21px;
	background: url(images/border.png) 0 -29px repeat-x;
}

#cboxContent {
	background: #fff;
	overflow: hidden;
}

.cboxIframe {
	background: #fff;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxLoadedContent {
	margin-bottom: 28px;
}

#cboxTitle {
	position: absolute;
	bottom: 4px;
	left: 0;
	text-align: center;
	width: 100%;
	color: #949494;
}

#cboxCurrent {
	position: absolute;
	bottom: 4px;
	left: 58px;
	color: #949494;
}

#cboxLoadingOverlay {
	background: url(images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
	background: url(images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active,
	#cboxClose:active {
	outline: 0;
}

#cboxSlideshow {
	position: absolute;
	bottom: 4px;
	right: 30px;
	color: #0092ef;
}

#cboxPrevious {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(images/controls.png) no-repeat -75px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxPrevious:hover {
	background-position: -75px -25px;
}

#cboxNext {
	position: absolute;
	bottom: 0;
	left: 27px;
	background: url(images/controls.png) no-repeat -50px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxNext:hover {
	background-position: -50px -25px;
}

#cboxClose {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(images/controls.png) no-repeat -25px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxClose:hover {
	background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight,
	.cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight,
	.cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,
		endColorstr=#00FFFFFF);
}